<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

 <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="d-flex align-items-center mb-4 flex-wrap">
					<h4 class="fs-20 font-w600  me-auto">Client Table</h4>
					<div>
					<a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"> <i class="fas fa-envelope"></i></a>
					<a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"><i class="fas fa-phone-alt"></i></a>
					<a href="javascript:void(0);" class="btn btn-secondary btn-sm"><i class="fas fa-info"></i></a>
					
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="table-responsive">
							<table class="table display mb-4 dataTablesCard job-table table-responsive-xl card-table" id="example5">
								<thead>
									<tr>
									            <th><strong>Client_Id</strong></th>
                                                <th><strong>Client_NAME</strong></th>
                                                <th><strong>About Client</strong></th>
                                                <th><strong>Email Id</strong></th>
                                                <th><strong>PhoneNo</strong></th>
                                                <th><strong>Address</strong></th>
                                                <th><strong>CountryId</strong></th>
                                                <th><strong>StateId</strong></th>
                                                <th><strong>CityId</strong></th>
                                                <th><strong>Logo</strong></th>
                                                <th><strong>CreatedbyId</strong></th>
                                                <th><strong>ModifiedById</strong></th>
                                                <th><strong>CreateDate</strong></th>
                                                <th><strong>ModifiedDate</strong></th>
                                                <th></th>
                                            </tr>
                                        </thead>
													</div>
												</td>
                                            </tr>
                                     </tbody>
                                   </table>
                                </div>
                            </div>
                        </div>
                    </div>     
                    </section>

</body>
</html>      