<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

<div class="content-body">
            <!-- row -->
			<div class="container-fluid">				
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="sm-mb-0 mb-3">
						<h5>Showing 12 of 124 Jobs Results</h5>
						<span>Based your preferences</span>
					</div>
				
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="row">
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#2769ee"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Bubble Studios</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#47ae3b"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Foodia Studios</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#8030d0"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Kelon inc.</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#e1b746"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Kelon inc.</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#314c82"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Kelon inc.</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#676767"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Kelon inc.</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#f94a4a"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Kelon inc.</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="d-flex">
												<span class="Studios-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
													  <g  transform="translate(-0.785)">
														<rect  width="97" height="97" rx="12" transform="translate(0.785)" fill="#c5c5c5"/>
														<g  transform="translate(0.348)">
														  <rect  data-name="placeholder" width="97" height="97" rx="12" transform="translate(0.438)" fill="#ee9827"/>
														  <ellipse  data-name="Ellipse 12" cx="24.359" cy="24.702" rx="24.359" ry="24.702" transform="translate(20.2 27.447)" fill="#fff"/>
														  <ellipse  data-name="Ellipse 11" cx="14.853" cy="15.096" rx="14.853" ry="15.096" transform="translate(49.907 20.585)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
														</g>
													  </g>
													</svg>
												</span>
												<div>
													<h4 class="fs-20 mb-1">Kelon inc.</h4>
													<span class="mb-3 d-block">Desgin Team Agency</span>
													<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
												</div>
											</div>
											<div class="job-available">
												<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded">6 Jobs Available</a>
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="sm-mb-0 mb-3">
						<h5 class="mb-0">Showing 5 of 102 Data</h5>
					</div>
					<nav>
						<ul class="pagination pagination-circle">
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">Prev</a>
							</li>
							<li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a>
							</li>
							<li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
							<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
							<li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">Next</a>
							</li>
						</ul>
					</nav>
				</div>
            </div>
        </div>


</section>

</body>
</html>