<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>

<!--**********************************
Content body start
***********************************-->
<div class="content-body">



<div class="container-fluid">


<h1 class="text-center">Welcome</h1>


</div>


</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
<!--**********************************
Content body end
***********************************-->



</section>

</body>
</html>