<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

  <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="d-flex align-items-center mb-4 flex-wrap">
					<h4 class="fs-20 font-w600  me-auto">Job View</h4>
					<div>
					<a href="#" th:href="@{/newjob}" class="btn btn-primary me-3 btn-sm"><i class="fas fa-plus me-2"></i>Add New Job</a>
					
					</div>
				</div>
				<div class="row">
					<div class="col-xl-3 col-xxl-4">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20 mb-0">Overview</h4>
									</div>
									<div class="card-body pt-4">
										<div class="mb-3 d-flex">
											<h5 class="mb-1 fs-14 custom-label">Job Title:</h5>
											<span>PHP Developer</span>	
										</div>
										<div class="mb-3 d-flex">
											<h5 class="mb-1 fs-14 custom-label">Experience:</h5>
											<span>2yrs Exp</span>	
										</div>
										<div class="mb-3 d-flex">
											<h5 class="mb-1 fs-14 custom-label">Vacancy:</h5>
											<span>10</span>	
										</div>
										<div class="mb-3 d-flex">
											<h5 class="mb-1 fs-14 custom-label">Job Type:</h5>
											<span>Full-Type</span>	
										</div>
										<div class="mb-3 d-flex">
											<h5 class="mb-1 fs-14 custom-label">Posted Date:</h5>
											<span>13-6-2021</span>	
										</div>
										<div class="mb-3 d-flex">
											<h5 class="mb-1 fs-14 custom-label">Position End Date:</h5>
											<span>12-8-2021</span>	
										</div>
									</div>
									<div class="card-footer border-0 pt-0 ">
										<div class="d-flex justify-content-between flex-wrap">
											<a href="javascript:void(0);" class="btn btn-primary btn-sm mb-3"><i class="fas fa-check me-2 "></i>Apply Now</a>
											<a href="javascript:void(0);" class="btn btn-outline-primary btn-sm mb-3"><i class="fas fa-phone-volume me-2"></i>Contact Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<div class="col-xl-9 col-xxl-8">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header d-block">
										<h4 class="fs-20 d-block"><a href="javascript:void(0);">PHP Developer</a></h4>
										<div class="d-block">
											<span class="me-2"><a href="javascript:void(0);"><i class="fas fa-briefcase me-2"></i>ABCD company</a></span>
											<span class="me-2"><a href="javascript:void(0);"><i class="fas fa-map-marker-alt me-2"></i>India</a></span>
											<span><a href="javascript:void(0);"><i class="fas fa-eye me-2"></i>View</a></span>
										</div>
									</div>
									<div class="card-body">
										<h4 class="fs-20 mb-3">Description</h4>
										<div class="ms-4">
											<p><i class="fas fa-dot-circle me-2"></i>We are Looking For a PHP Doveloper, who is must be familiar with the PHP fundamentals& PHP framwork. Experience with Laravel & mixs, Livewire </p>
											<p><i class="fas fa-dot-circle me-2 "></i>Good knowledge of SQL and related databases, with a preference for those with MySQL experience.</p>
											<p><i class="fas fa-dot-circle me-2 "></i>Excellent knowledge of the basic PHP 7 or web server exploits along with their solutions.</p>
											<p><i class="fas fa-dot-circle me-2 "></i>Experience building or maintaining a CMS.</p>
											<p><i class="fas fa-dot-circle me-2 "></i>Knowledge of MVC frameworks.</p>
											<p><i class="fas fa-dot-circle me-2 "></i>A detailed understanding of database design and administration.</p>
											<p><i class="fas fa-dot-circle me-2 "></i>The ability to integrate a variety of data sources and databases into a single system.</p>
										</div>
										<hr>
										<h4 class="fs-20 mb-3">Job Details</h4>
										<div class="row mb-3">
											<div class="col-xl-6">
												<div class="ms-4">
													<p class="font-w500 mb-3"><span class="custom-label">Job Role :</span><span class="font-w400"> PHP Developer</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Role:</span><span class="font-w400"> Front-End Doveloper</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Min Salary:</span><span class="font-w400"> $20,000</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Max Salary:</span><span class="font-w400"> $30,000</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Job Tags:</span><span class="font-w400"> PHP, Laravel, HTML5, SCSS,CSS, Javascript</span></p>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="ms-4">
													<p class="font-w500 mb-3"><span class="custom-label">Job Experience:</span><span class="font-w400"> 2yrs+</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Launges:</span><span class="font-w400"> Hindi, English</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Locality:</span><span class="font-w400">India</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Eligibility:</span><span class="font-w400"> B.tech ,Any Graduate</span></p>
													<p class="font-w500 mb-3"><span class="custom-label">Company :</span><span class="font-w400"> ABCD corporation pvt ltd</span></p>
												</div>
											</div>
										</div>	
										<div class="d-flex justify-content-between py-4 border-bottom border-top flex-wrap">
											<span>Job ID: #8976542</span>
											<span>Posted By <strong>Company</strong>/ 01-01-2022</span>
										</div>
									</div>
									<div class="card-footer border-0">
										<div>
											<a href="javascript:void(0);" class="btn btn-primary btn-md me-2 mb-3"><i class="far fa-check-circle me-2"></i>Apply</a>
											<a href="javascript:void(0);" class="btn btn-warning btn-md me-2 mb-3"><i class="fas fa-share-alt me-2"></i>Share Job</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>


</section>

</body>
</html>