<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

    <div class="content-body">
			<div class="container-fluid">
				<div class="row">					
						<div class="mt-4 d-flex justify-content-between align-items-center flex-wrap">
							<div class="mb-4">
								<h5>Showing 12 of 124 Jobs Results</h5>
								<span>Based your preferences</span>
							</div>	
							
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="Boxed" role="tabpanel">
								<div class="row">
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(-457 -443)">
															<rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"></rect>
															<g  transform="translate(457 443)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2769ee"></rect>
															  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"></circle>
															  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"></circle>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">UI Designer</h4>
													<span class="text-primary mb-3 d-block">Bubbles Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(-0.332)">
															<rect  width="71" height="71" rx="12" transform="translate(0.332)" fill="#c5c5c5"/>
															<g  transform="translate(0.332)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#ee27c0"/>
															  <ellipse  data-name="Ellipse 12" cx="17.987" cy="18" rx="17.987" ry="18" transform="translate(15.147 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="10.887" cy="11" rx="10.887" ry="11" transform="translate(35.973 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">Programmer</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(0.093)">
															<rect  width="71" height="71" rx="12" transform="translate(-0.093)" fill="#c5c5c5"/>
															<g  transform="translate(-0.093)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#27beee"/>
															  <ellipse  data-name="Ellipse 12" cx="17.75" cy="18" rx="17.75" ry="18" transform="translate(14.947 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="11.211" cy="11" rx="11.211" ry="11" transform="translate(35.5 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">UX Researcher</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(-0.483)">
															<rect  width="71" height="71" rx="12" transform="translate(0.483)" fill="#c5c5c5"/>
															<g  transform="translate(0.483)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#bec747"/>
															  <ellipse  data-name="Ellipse 12" cx="18.46" cy="18" rx="18.46" ry="18" transform="translate(14.2 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="10.887" cy="11" rx="10.887" ry="11" transform="translate(35.973 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">Data Scientist</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(0.228)">
															<rect  width="71" height="71" rx="12" transform="translate(-0.228)" fill="#c5c5c5"/>
															<g  transform="translate(-0.228)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#7b25d1"/>
															  <ellipse  data-name="Ellipse 12" cx="17.75" cy="18" rx="17.75" ry="18" transform="translate(14.947 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="11.211" cy="11" rx="11.211" ry="11" transform="translate(35.5 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">Graphic Designer</h4>
													<span class="text-primary mb-3 d-block">Bubbles Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(-0.394)">
															<rect  width="71" height="71" rx="12" transform="translate(0.394)" fill="#c5c5c5"/>
															<g  transform="translate(0.394)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#345ad6"/>
															  <ellipse  data-name="Ellipse 12" cx="17.987" cy="18" rx="17.987" ry="18" transform="translate(15.147 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="10.887" cy="11" rx="10.887" ry="11" transform="translate(35.973 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">Animator</h4>
													<span class="text-primary mb-3 d-block">Bubbles Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(-0.016)">
															<rect  width="71" height="71" rx="12" transform="translate(0.016)" fill="#c5c5c5"/>
															<g  transform="translate(0.016)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#ee9827"/>
															  <ellipse  data-name="Ellipse 12" cx="17.987" cy="18" rx="17.987" ry="18" transform="translate(15.147 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="11.36" cy="11" rx="11.36" ry="11" transform="translate(35.973 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">Animator</h4>
													<span class="text-primary mb-3 d-block">Bubbles Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(0.362)">
															<rect  width="71" height="71" rx="12" transform="translate(-0.362)" fill="#c5c5c5"/>
															<g  transform="translate(-0.362)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#3ca44d"/>
															  <ellipse  data-name="Ellipse 12" cx="18.217" cy="18" rx="18.217" ry="18" transform="translate(14.947 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="10.743" cy="11" rx="10.743" ry="11" transform="translate(36.434 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">Lead Design Rese..</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(0.228)">
															<rect  width="71" height="71" rx="12" transform="translate(-0.228)" fill="#c5c5c5"/>
															<g  transform="translate(-0.228)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#cba336"/>
															  <ellipse  data-name="Ellipse 12" cx="17.75" cy="18" rx="17.75" ry="18" transform="translate(14.947 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="11.211" cy="11" rx="11.211" ry="11" transform="translate(35.5 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">UI Designer</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(-0.394)">
															<rect  width="71" height="71" rx="12" transform="translate(0.394)" fill="#c5c5c5"/>
															<g  transform="translate(0.394)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#80bc3b"/>
															  <ellipse  data-name="Ellipse 12" cx="17.987" cy="18" rx="17.987" ry="18" transform="translate(15.147 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="10.887" cy="11" rx="10.887" ry="11" transform="translate(35.973 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">UX Researcher</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(-0.016)">
															<rect  width="71" height="71" rx="12" transform="translate(0.016)" fill="#c5c5c5"/>
															<g  transform="translate(0.016)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#858585"/>
															  <ellipse  data-name="Ellipse 12" cx="17.987" cy="18" rx="17.987" ry="18" transform="translate(15.147 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="11.36" cy="11" rx="11.36" ry="11" transform="translate(35.973 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">UX Researcher</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
										<div class="card">
											<div class="jobs2 card-body">
												<div class="text-center">
													<span>
														<svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														  <g  transform="translate(0.362)">
															<rect  width="71" height="71" rx="12" transform="translate(-0.362)" fill="#c5c5c5"/>
															<g  transform="translate(-0.362)">
															  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#df2c57"/>
															  <ellipse  data-name="Ellipse 12" cx="18.217" cy="18" rx="18.217" ry="18" transform="translate(14.947 20)" fill="#fff"/>
															  <ellipse  data-name="Ellipse 11" cx="10.743" cy="11" rx="10.743" ry="11" transform="translate(36.434 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
															</g>
														  </g>
														</svg>
													</span>
													<h4 class="fs-20 mb-0">UX Researcher</h4>
													<span class="text-primary mb-3 d-block">Kleon Studios</span>
												</div>
												<div>
												<span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span>
													<span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-between flex-wrap">
									<div class="mb-sm-0 mb-3">
										<h5 class="mb-0">Showing 5 of 102 Data</h5>
									</div>
									<nav>
										<ul class="pagination pagination-circle">
											<li class="page-item page-indicator job-search-page">
												<a class="page-link" href="javascript:void(0)">Prev</a>
											</li>
											<li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a>
											</li>
											<li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
											<li class="page-item page-indicator job-search-page">
												<a class="page-link" href="javascript:void(0)">Next</a>
											</li>
										</ul>
									</nav>
								</div>		
							</div>
							
				
						</div>	
					</div>
				
				</div>
            </div>

</section>

</body>
</html>