<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

<div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="profile-back">
							<img src="images/profile1.jpg" alt="">
							<div class="social-btn">
								<a href="javascript:void(0);" class="btn btn-light social">245 Following</a>
								<a href="javascript:void(0);" class="btn btn-light social">872 Followers</a>
								<a href="javascript:void(0);" class="btn btn-primary">Update Profile</a>
							</div>
						</div>
						<div class="profile-pic d-flex">
							<img src="images/profile/pic1.jpg" alt="">
							<div class="profile-info2">
								<h2 class="mb-0">Franklin Jr</h2>
								<h4>UI / UX Designer</h4>
								<span class="d-block"><i class="fas fa-map-marker-alt me-2"></i>Medan, Sumatera Utara - ID</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-6 mt-5">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header border-0">
										<h4 class="fs-20">Skills</h4>
									</div>
									<div class="card-body">
										<div id="pieChart2" class="mb-4"></div>
										<div class="progress default-progress">
											<div class="progress-bar bg-green progress-animated" style="width: 90%; height:13px;" role="progressbar">
												<span class="sr-only">90% Complete</span>
											</div>
										</div>
										<div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
											<span class="fs-14 font-w500">Figma</span>
											<span class="fs-16"><span class="text-black pe-2"></span>90%</span>
										</div>
										<div class="progress default-progress">
											<div class="progress-bar bg-info progress-animated" style="width: 68%; height:13px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
											<span class="fs-14 font-w500">Adobe XD</span>
											<span class="fs-16"><span class="text-black pe-2"></span>68%</span>
										</div>
										<div class="progress default-progress">
											<div class="progress-bar bg-blue progress-animated" style="width: 85%; height:13px;" role="progressbar">
												<span class="sr-only">85% Complete</span>
											</div>
										</div>
										<div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
											<span class="fs-14 font-w500">Photoshop</span>
											<span class="fs-16"><span class="text-black pe-2"></span>85%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-xxl-8 col-lg-6 mt-lg-5 mt-0">
						<div class="row">
							<div class="col-xl-8 col-xxl-7">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20 font-w600">About Me</h4>
									</div>
									<div class="card-body">
										<p class="fs-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
										<h4 class="fs-20 font-w600 my-4">Contact</h4>
										<div class="d-flex flex-wrap">	
											<div class="d-flex contacts-social align-items-center mb-3  me-sm-5 me-0">
												<span class="me-3">
													<i class="fas fa-phone-alt"></i>
												</span>
												<div>
													<span>Phone</span>
													<h5 class="mb-0 fs-18">1234598765</h5>
												</div>
											</div>
											<div class="d-flex contacts-social align-items-center mb-3">
												<span class="me-3">
													<i class="fas fa-envelope-open"></i>
												</span>
												<div>
													<span>Email</span>
													<h5 class="mb-0 fs-18">demo@example.com</h5>
												</div>
											</div>
										</div>	
									</div>
									
								</div>
							</div>
							<div class="col-xl-4 col-xxl-5">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20 font-w600">Socials</h4>
									</div>
									<div class="card-body">
										<div>
											<a href="javascript:;" class="btn text-start d-block mb-3 bg-facebook light"><i class="fab fa-facebook-f scale5 me-4 text-facebook"></i>/franklin.jr123</a>
											<a href="javascript:;" class="btn text-start d-block mb-3 bg-linkedin light"><i class="fab fa-linkedin-in scale5 me-4 text-linkedin"></i>/franklin.jr123</a>
											<a href="javascript:;" class="btn text-start d-block mb-3 bg-dribble light"><i class="fab fa-dribbble scale5 me-4 text-dribble"></i>/franklin.jr123</a>
											<a href="javascript:;" class="btn text-start d-block mb-3 bg-youtube light"><i class="fab fa-youtube scale5 me-4 text-youtube"></i>
											/franklin.jr123</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card bg-dark">
									<div class="card-body d-flex align-items-center">
										<div>
											<h4 class="fs-20 font-w600 mb-2 text-white">Upload your curriculum vitae</h4>
											<p class="text-white mb-0 op6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
										</div>	
										<div class="upload">
											<a href="javascript:void(0);"><i class="fas fa-arrow-up"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>


</section>

</body>
</html>