<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>New Candidate</title>

</head>
<body>

<section>

	<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="d-flex align-items-center mb-4">
					<h4 class="fs-20 font-w600 mb-0 me-auto">New Candidate</h4>
					<!-- <div>
						<a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"> <i class="fas fa-envelope"></i></a>
						<a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"><i class="fas fa-phone-alt"></i></a>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="fas fa-info"></i></a>
					
					</div> -->
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-6  col-md-6 mb-4">
									  <label  class="form-label font-w600">First Name<span class="text-danger scale5 ms-2">*</span></label>
										<input type="text" class="form-control solid" placeholder="First Name" aria-label="name" name="personName" required>
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
									  <label  class="form-label font-w600">Last Name<span class="text-danger scale5 ms-2">*</span></label>
										<input type="text" class="form-control solid" placeholder="Last Name" aria-label="name" name="personName" required>
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
									  <label  class="form-label font-w600">Email<span class="text-danger scale5 ms-2">*</span></label>
										<input type="email" class="form-control solid" placeholder="Email address" aria-label="name" name="email" required>
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
										<label  class="form-label font-w600">Phone Number<span class="text-danger scale5 ms-2">*</span></label>
										<input type="number" class="form-control solid" placeholder="Phone Number" aria-label="name" name="phoneNo" maxlength="10" 
										oninput="javascript:if(this.value.length > this.maxlength )this.value=this.value.slice(0,this.maxlength);" required>
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
									  <label  class="form-label font-w600">Skills<span class="text-danger scale5 ms-2">*</span></label>
										<input type="text" class="form-control solid" placeholder="Enter Skills" aria-label="name" required>
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
									  <label  class="form-label font-w600">Address<span class="text-danger scale5 ms-2">*</span></label>
										<input type="text" class="form-control solid" placeholder="Address" aria-label="name" required>
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
										<label  class="form-label font-w600">Experience<span class="text-danger scale5 ms-2">*</span></label>
										<select  class="form-select form-control solid">
										<option selected>--Select Experience--</option>
										<option>Below 1 Yr</option>
										  <option>1 yr</option>
										  <option>2 Yr</option>
										   <option>3 Yr</option>
										    <option>4 Yr</option>
										    <option>Above 4 Yr</option>
										</select>
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
									  <label  class="form-label font-w600">Upload Photo<span class="text-danger scale5 ms-2"></span></label>
										<input type="file" class="form-control solid" placeholder="Upload Photo" aria-label="name" name="photo">
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
									  <label  class="form-label font-w600">Upload Resume<span class="text-danger scale5 ms-2"></span></label>
										<input type="file" class="form-control solid" placeholder="Upload Resume" aria-label="name" name="resume">
									</div>
									<div class="col-xl-6  col-md-6 mb-4">
									 <span>Gender:<label class="radio-inline mx-3"><input type="radio" name="optradio" required>Male</label></span>
										<span><label class="radio-inline me-3"><input type="radio" name="optradio" required>Female</label></span>
									</div>		
									  <div class="col-xl-6  col-md-6 mb-4">
									    <span>Status:<label class="radio-inline mx-3"><input type="radio" name="optradio" required> Active</label></span>
										<span><label class="radio-inline me-3"><input type="radio" name="optradio" required> In Active</label></span>
									</div>
								    </div>
							 <div class="text-center">
								<div>
									<a href="#" class="btn btn-secondary">Submit</a>
									<a href="#" class="btn btn-primary me-3">Close</a>
								</div> 
								</div>
						</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>

</body>
</html>